/* About us Text slider css starts here */

.text-overlay-about {
    text-align: center;
    text-align: justify;
    font-family: "Comforter", cursive;
    color: #ffffff;
    font-weight: 900;
    font-size: 60px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}

@media screen and (max-width: 768px) {
    .text-overlay-about {
        font-size: 30px;
        /* Reduce font size for smaller screens */
        letter-spacing: 0.5em;
        /* Adjust spacing for readability */
        top: 15%;
        /* Adjust position */
    }
}

@media screen and (max-width: 480px) {
    .text-overlay-about {
        font-size: 20px;
        /* Further reduce font size for mobile screens */
        letter-spacing: 0.3em;
        /* Adjust spacing */
        top: 10%;
        /* Adjust position */
    }
}

@media screen and (max-width: 768px) {
    .aboutquote {
        font-size: 30px;
        /* Reduce font size for smaller screens */
        letter-spacing: 0.5em;
        /* Adjust spacing for readability */
        top: 45%;
        /* Adjust position */
    }
}

@media screen and (max-width: 480px) {
    .aboutquote {
        font-size: 12px;
        /* Further reduce font size for mobile screens */
        text-align: center;
        top: 22%;
        /* Adjust position */
    }
}

/* developers team section starts here */
.box {
	border-radius: 150px;
	background:#fff;
	position:relative;
	overflow: hidden;
	text-align:center;
}
.box:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 0px;
    height: 100%;
    border-radius: 150px;
    box-shadow: inset 0 0 25px rgba(0,0,0,0.30);
    transition: all 0.3s ease;
    background-image: linear-gradient(to right, #ffcc00 0%, #f9d33d 100%);
}
.box:hover:before {
    width: 100%;
}
.box:hover .image-wrapper {
	padding:0;
}
.box:hover .box-desc {
	color:#fff;
}
.box:hover .social li a {
	background:#fff;
	background-image: none;
	color:#000;
}
.box:hover .social li a:hover {
	background:#1d1d1d;
	color:#fff;
}
.image-wrapper {
    position: relative;
	max-width: 210px;
    max-height: 210px;
	margin:0 auto;
    overflow: hidden;
    border-radius: 50%;
    padding: 15px;
    transition: all 0.5s ease;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.20);
}
.image-wrapper img {
    border-radius: 50%;
    transition: all 500ms ease;
}
.box-desc {
	position:relative;
}
ul.social {
	padding:0;
}
ul.social li {
	display:inline-block;
	list-style-type:none;
}
ul.social li a {
	position:relative;
	width: 36px;
    height: 36px;
	background-image: linear-gradient(to right, #ffcc00 0%, #f9d854 100%);
	display:inline-block;
	line-height:36px;
	border-radius:50%;
	color:#fff;
	transition: all .5s ease;
}
.h2{
    font-family: "Comforter", cursive;
    color: #000000;
    text-align: center;
    font-weight: 600;
}

/* developers team section ends here */

/* card section starts from here */

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card-header {
    font-family: "Comforter", cursive;
    color: #000000;
    font-weight: 600;
}

.card {
    background-color: #ffdb49;
    border-radius: 3%;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}
.card-image{
    object-fit: contain;
    height: auto;
    width: auto;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card_content {
    padding: 1rem;
    background-color: #ffdb49;
}

.card_title {
    color: #000000;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: #000000;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

.made_by {
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
}

.skeleton-loader-card {
    width: 100%;
    height: 200px; /* Adjust as per your design */
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    border-radius: 10px; /* Adjust for smoothness */
}

@keyframes shimmer {
    0% { background-position: -200% 0; }
    100% { background-position: 200% 0; }
}


.image-container {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
/* card section ends here */

/* about us text slider ends here */
