/* Slider design */
.slider1 {
    position: relative;
    width: 100%;
}

/* skeleton image loader */
.skeleton {
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite linear;
    border-radius: 8px;
}

@keyframes shimmer {
    0% { 
        background-position: -200% 0;
     }
    100% {
         background-position: 200% 0;
         }
}
/* .skeleton{
   animation: shimmer 4s linear infinite alternate;
}

@keyframes animation{
    0%{
        background-color: hsl(180, 1%, 39%);
    }
    100%{
        background-color: hsl(0, 0%, 36%);
    }
} */

.items {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 56.25%;
}

.item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 3s ease-in-out;

    &.current {
        opacity: 1;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.buttons {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 32px;
    height: 32px;
    border-radius: 1em;
    outline: none;
    padding: 0;
    background: transparent center no-repeat;
    cursor: pointer;
    opacity: .4;

    &:hover {
        opacity: .8;
    }
}

.dots {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 0;
    background: #777;
    cursor: pointer;
    opacity: .5;
    transition: opacity .4s ease-in-out;

    &:nth-child(n+2) {
        margin-left: 5px;
    }

    &.current {
        opacity: 1;
    }
}

/* text slider starts here */
.skeleton-text {
    width: 100%;
    height: 100%;
    animation: shimmer 1.5s infinite linear;
    margin-bottom: .25rem;
    border-radius: .125rem;
}
.skeleton-text:last-child{
    margin-bottom: 0;
    width: 30%;
}

@keyframes shimmer {
    0% { 
        background-position: -200% 0;
     }
    100% {
         background-position: 200% 0;
         }
}




.line {
    font-family: "Comforter", cursive;
    font-size: 50px;
    color: #ffffff;
    letter-spacing: 7px;
    position: absolute;
    opacity: 0;
    top: 1;
}



.slider {
    font-weight: 700;
    letter-spacing: 1em;
    font-size: 40px;
    position: absolute;
    margin: auto;
    top:28%;
    width: 100%;
}


@media (max-width: 1024px) {
    .slider {
        font-size: 40px;
        top:10%;
        
    }
}

@media (max-width: 768px) {
    .slider {
        font-size: 30px;
        top: 17%;
        
    }
}

@media (max-width: 480px) {
    .slider {
        font-size: 20px;
        top: 15%;
        
    }
}


@media (max-width: 1024px) {
    .line {
        font-size: 40px;       
    }
}

@media (max-width: 768px) {
    .line {
        font-size: 30px;
        
    }
}

@media (max-width: 480px) {
    .line {
        font-size: 12px;
        
        
    }
}

/* text slider ends here */

/* card section starts from here */

/* Design */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: #ecf9ff;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    color: #000000;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

/* card section starts from here */

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card-header {
    font-family: "Comforter", cursive;
    color: #000000;
    font-weight: 600;
}

.card {
    background-color: #ffdb49;
    border-radius: 3%;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card_content {
    padding: 1rem;
    background-color: #ffdb49;
}

.card_title {
    color: #000000;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: #000000;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

.made_by {
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
}

/* card section ends here */